body {
    background: #f1f1f1;
    font-size: 16px;
    font-family: arial,sans-serif;
    font-weight: normal;
    color: #0f141e;
    
    
}

a{ 
    color:#333;
    text-decoration: none;
}

a:hover{
    color:cornflowerblue;    
}

.container{
    max-width: 500px;
    margin: auto;
    padding-top: 30px;
    
    
}

.contact {
    color: #0f141e;
    max-width: 175px;
    float: right;
    font-size: 12px;
    
}

.info-text {
    font-style: italic;
    font-weight: bold;
    color: #86898f;
    margin: 25px;
    clear: both;
}

.foto {
    width: 145px;
    border-radius: 50%;
    box-shadow: 4px 4px 14px rgba(0,0,0, .50);
    margin: 5px;
    float: left;
}

.info{
    margin-bottom: 20px;
    
}

.card {
    border: 1px solid black;
    border-radius: 20px;
    background: #fff;
    padding: 15px 20px;
    margin-bottom: 20px;
    max-width: 500px;

}
.card h3 {
    margin-bottom: 10px;
}

.list{
    padding: 0 20px;
}

.list li{    
    margin-bottom: 7px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.table{
    width:100%;
}

.table td{
    padding-bottom: 100px;
}